body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-flex {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

}

.form-flex input {
  
  border-style: none;
  border: 1px solid black;
  padding: 2px;
  margin: 5px 0;

}


.board-container {
  display:grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  border: 2px solid black;
  align-items: center;
  

}

.board-container .square {
  text-align: center;
  border: 2px solid black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;

}

.square svg {
  font-size: 3rem;
}


.room-list {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

}

.room-item {
  padding: 15px;
  border: 2px solid grey;
  border-radius: 10px;
}

.game-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}